doctype html
html(lang='en')
  head
    title Prello login
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css")
    link(rel="stylesheet", href="/static/oauth/css/login.css")
    
  body
    div(class="ui middle aligned center aligned grid")
      div(class="column")
        h2(class="ui red image header") Log in to your Prello account
        if error
          div(class="ui message red")= error
        form(action=`/oauth/authorize?client_id=${client_id}&response_type=${response_type}&scope=${scope}&redirect_uri=${redirect_uri}&state=${state}`, class="ui large form", method="post")
          div(class="ui stacked segment")
            div(class="field")
              label Email or Username
              input(type="text", value=`${email}` placeholder="jeannette@saucisson.fr" name="username")
            div(class="field")
              label Password
              input(type="password", placeholder="Type password..." name="password")
            input(type="submit", class="ui fluid large google plus submit button")
        div(class="ui message") Don't have an account ? Sign up to 
          a(href="http://localhost:3000/register") Prello
    script(src="/static/oauth/js/login.js")
      